/* Copyright (c) 2021. Michael Kemna. */

.table thead tr th,
.table tbody tr td:not(.title-row) {
  text-align: center;
}

.table thead tr th,
.table tbody tr td {
  vertical-align: middle;
}

.table tbody .curr {
  color: #1e1e1e;
  background-color: #eeeeee;
  margin-right: 50px;
}

.table tbody .prev-1 {
  background-color: #4a4a4a;
}

.table tbody .prev-3 {
  background-color: #343434;
}

.table tbody .prev-7 {
  background-color: #2b2b2b;
}

h1:not(first) {
  padding-top: 50px;
}

#dir-wrapper {
  padding: 0px;
}

#forecast h4 {
  padding-top: 50px;
}

#forecast:last-child {
  padding-bottom: 100px;
}
