/* Copyright (c) 2021. Michael Kemna. */

body {
  background-color: #1e1e1e;
  position: relative;
  scroll-behavior: smooth;
  color: #f7ffff;
  margin: 0;
  padding: 0;
}

#content {
  min-height: 95vh;
  /*might need to remove the padding later*/
  padding-top: 70px;
}

.container-fluid.text-center {
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 75vh;
}

.container-fluid.text-center h1:not(#expl) {
  padding-top: 70px;
  padding-bottom: 70px;
}

div.row.flex-column {
  margin-left: 0;
  margin-right: 0;
}

.caption {
  padding: 30px;
  text-align: center;
}
